@charset "UTF-8";

/* ------------------------- 全体共通 ------------------------- */
:root {
  --primary-color:#111111;
  --base-color:#242424;
  --accent-color:#AE904B;
  --text-color:#E0E0E0;
  --heading-color:#FFFFFF;
}

body {
    font-family: 'Inter', sans-serif;
    color:var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    color:var(--heading-color);
}

a {
    color: var(--accent-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  background-color: var(--primary-color);
}
/* ------------------------- HEADER ------------------------- */
header{
  background-color: var(--base-color);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul{
  padding: 2em;
  list-style: none;
  display: flex;
  gap:2em;
}

header nav ul li a{
  font-size: 1.5rem;
  text-decoration: none;
}